<!DOCTYPE html>
<html>
    <head>
        <Title>New Liscence Form</Title>
        <style></style>
        <script></script>
        <meta charset="utf-8"/>
        <meta keywords="Liscence Form,DMV" />
        <base />
        <link rel="stylesheet" href="../styles/styles.css" />
        
    </head>
    <body>
        <article>
            <header> <h1>Hello World !</h1></header>
            <section>
                <div>
                    <ul style="list-style-type:none;">
                        <li>Home</li>
                        <li>Gallery</li>
                        <li>Contact Us</li>
                        <li>Help</li>
                    </ul>
                </div>
                <form autocomplete="off">
                <label for="fn"><b>First Name:-</b></label>
                <input type="text" name="fn" placeholder="First name" autofocus required/>
                <label for="ls"><b>Last Name:-</b></label>
                <input type="text" name="ls" placeholder="Last Name" required/>
                <label for ="Phn Number"><b>Contact Number:-</b></label>
                <input type="number" name="Phn Number" value="Phn Number" required/>
                <label for="Gender"><b>Gender:-</b></label>
                <label style="display:inline;" for="Male">Male:</label>
                <input style="display:inline;" type="radio" name="Gender"value="Male" />
                <label style="display:inline;" for="Female">Female:</label>
                <input style="display:inline;" type="radio" name="Gender"value="Female" /><br />
                <button type="submit" >Submit</button>
                <button type="reset" >Reset</button>
                </form>
            </section>
            <footer><p>I am Footer</p></footer>
        </article>
    </body>
</html>